
    <div class="card w-100">
        <img class="card-img-top" src="{{img}}" alt="Card image cap">
        <div class="card-body bg-card">
            <div class="card-title-holder">
                <h6 class="card-title"> {{title}}</h6>
            </div>
            <p class="card-text text-muted">Trending: {{category}}
            </p>
            <div class="d-flex justify-content-between">
                <a href="https://www.usatoday.com/story/sports{{link}}" target="_blank" class="btn btn-primary">View Article</a>
                <a href="/article/{{_id}}" target="_blank" class="btn btn-danger">Comment</a>
            </div>
        </div>
    </div>
